#Login {
    padding-top: 20px;

    .logo {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .am-input-label {
        width: 50px;
    }

    .am-button {
        margin: 20px 0;
    }

    .loginBottom {
        color: #21C89B;
        display: flex;
        justify-content: space-between;

        a {
            color: #21C89B;
            display: block;
        }
    }
}