#Reg{
    /* 获取验证码 */
    .am-input-extra{
        height:100%;
    }
    .am-checkbox{
        font-size:12px;
        a{
            color:#21C89B;
        }
    }
    .hadUser{
            color:#21C89B;
    }
}